extends layout

block content
    h1 Express upload to Amazon S3

    p Test page for <code>express-upload-amazon-s3</code>

    h2 Upload Single File
    form(method="post", name="form1", action="/upload", enctype="multipart/form-data")
      fieldset
        legend Upload single File
        input(type="file", name="singleFile")
      div.actions
        button.btn.primary(type="submit") Upload
        button.btn.cancel(type="button") Cancel
